[Desktop Entry]
Version=1.0
Name=Kabberry
Comment=Kabberry Cryptocurrency
Comment[fr]=Kabberry, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Kabberry, eşten eşe kriptografik sanal para birimi
Exec=kabberry-qt %u
Terminal=false
Type=Application
Icon=kabberry128
MimeType=x-scheme-handler/kabberry;
Categories=Office;Finance;
StartupWMClass=Kabberry-qt
